<a href="https://colab.research.google.com/github/boyu571/kpc_lecture_notes/blob/master/(%EC%9E%90%EB%8F%99%ED%99%94)Block_%EC%84%A4%EA%B3%84_%EC%B5%9C%EC%A2%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# 필요한 라이브러리, 함수 import하기

import pandas as pd
from itertools import permutations

## sum_product() 함수의 정의

In [5]:
def sum_product(list1, list2):
    return sum([list1[i][j] * list2[i][j] for i in range(len(list1)) for j in range(len(list1[0]))])

### To-be1

In [6]:
# 거리 정보
distance_data = {'A': {'A': 0, 'B': 20, 'C': 40},
                 'B': {'A': 20, 'B': 0, 'C': 30},
                 'C': {'A': 40, 'B': 30, 'C': 0}}
type(distance_data)

dict

In [7]:
pd.DataFrame(distance_data)

    A   B   C
A   0  20  40
B  20   0  30
C  40  30   0

In [8]:
# 작업량 정보
workload_data = {'1': {'1': 0, '3': 80, '2': 10},
                 '3': {'1': 90, '3': 0, '2': 70},
                 '2': {'1': 20, '3': 30, '2': 0}}
workload_data

{'1': {'1': 0, '3': 80, '2': 10},
 '3': {'1': 90, '3': 0, '2': 70},
 '2': {'1': 20, '3': 30, '2': 0}}

In [9]:
distance_list = [[distance_data[from_loc][to_loc] for to_loc in distance_data] for from_loc in distance_data]
workload_list = [[workload_data[from_loc][to_loc] for to_loc in workload_data] for from_loc in workload_data]

result = sum_product(distance_list, workload_list)
print(result)

7600

### To-be2

In [11]:
workload_data = {'3': {'3': 0, '1': 90, '2': 70},
                 '1': {'3': 80, '1': 0, '2': 10},
                 '2': {'3': 30, '1': 20, '2': 0}}

In [12]:
distance_list = [[distance_data[from_loc][to_loc] for to_loc in distance_data] for from_loc in distance_data]
workload_list = [[workload_data[from_loc][to_loc] for to_loc in workload_data] for from_loc in workload_data]

result = sum_product(distance_list, workload_list)
print(result)

8300

### To-be3

In [13]:
workload_data = {'2': {'2': 0, '3': 30, '1': 20},
                 '3': {'2': 90, '3': 0, '1': 70},
                 '1': {'2': 10, '3': 80, '1': 0}}

In [14]:
distance_list = [[distance_data[from_loc][to_loc] for to_loc in distance_data] for from_loc in distance_data]
workload_list = [[workload_data[from_loc][to_loc] for to_loc in workload_data] for from_loc in workload_data]

result = sum_product(distance_list, workload_list)
print(result)

8100

### 전체 경우의 수 계산

In [15]:
#이 함수는 및 사전 permutations에 있는 키의 가능한 모든 순열을 생성하는 데 사용됩니다 .distance_dataworkload_data
distance_permutations = permutations(distance_data.keys())
workload_permutations = permutations(workload_data.keys())

#중첩된 루프는 거리 및 워크로드 순열의 각 조합을 반복하는 데 사용됩니다.
#각 조합에 대해 해당 거리 및 작업량 값이 검색되어 및 에 distance_list각각 저장됩니다 workload_list.
#sum_product거리 및 작업 부하 목록을 기반으로 결과를 계산하기 위해 함수가 호출됩니다 .
#결과가 results목록에 추가되고 순열 조합이 목록에 저장됩니다 permutations_data.

results = []
permutations_data = []

for distance_perm in distance_permutations:
    for workload_perm in workload_permutations:
        distance_list = [[distance_data[from_loc][to_loc] for to_loc in distance_perm] for from_loc in distance_perm]
        workload_list = [[workload_data[from_loc][to_loc] for to_loc in workload_perm] for from_loc in workload_perm]
        result = sum_product(distance_list, workload_list)
        results.append(result)
        permutations_data.append((distance_perm, workload_perm))

#DataFrame은 열 이름을 키로 사용하고 해당 목록을 값으로 사용하는 사전을 사용하여 생성됩니다.
#목록 내포는 거리 및 워크로드 순열을 "거리 순열"에 대한 문자열 형식으로 결합하는 데 사용됩니다.


df = pd.DataFrame({'Distance Permutation': [f'{", ".join(perm[0])}, {", ".join(perm[1])}' for perm in permutations_data],
                   'Result': results})
df

  Distance Permutation  Result
0     A, B, C, 2, 3, 1    8100
1     A, B, C, 2, 1, 3    9900
2     A, B, C, 3, 2, 1    9300
3     A, B, C, 3, 1, 2    8700
4     A, B, C, 1, 2, 3   10200
5     A, B, C, 1, 3, 2    7800

### 추가 예제(4X4)

In [16]:
# 거리 정보
distance_data = {'A': {'A': 0, 'B': 20, 'C': 40,'D':10},
                 'B': {'A': 20, 'B': 0, 'C': 30,'D':10},
                 'C': {'A': 40, 'B': 30, 'C': 0,'D':20},
                 'D': {'A': 40, 'B': 30, 'C': 30,'D':0}}
# 작업량 정보
workload_data = {'1': {'1': 0, '2': 10, '3': 80,'4':20},
                 '2': {'1': 20, '2': 0, '3': 30,'4':10},
                 '3': {'1': 90, '2': 70, '3': 0,'4':60},
                 '4': {'1': 20, '2': 0, '3': 30,'4':0}}

In [17]:
#이 함수는 및 사전 permutations에 있는 키의 가능한 모든 순열을 생성하는 데 사용됩니다 .distance_dataworkload_data
distance_permutations = permutations(distance_data.keys())
workload_permutations = permutations(workload_data.keys())

#중첩된 루프는 거리 및 워크로드 순열의 각 조합을 반복하는 데 사용됩니다.
#각 조합에 대해 해당 거리 및 작업량 값이 검색되어 및 에 distance_list각각 저장됩니다 workload_list.
#sum_product거리 및 작업 부하 목록을 기반으로 결과를 계산하기 위해 함수가 호출됩니다 .
#결과가 results목록에 추가되고 조합이 목록에 저장됩니다 permutations_data.

results = []
permutations_data = []

for distance_perm in distance_permutations:
    for workload_perm in workload_permutations:
        distance_list = [[distance_data[from_loc][to_loc] for to_loc in distance_perm] for from_loc in distance_perm]
        workload_list = [[workload_data[from_loc][to_loc] for to_loc in workload_perm] for from_loc in workload_perm]
        result = sum_product(distance_list, workload_list)
        results.append(result)
        permutations_data.append((distance_perm, workload_perm))

#DataFrame은 열 이름을 키로 사용하고 해당 목록을 값으로 사용하는 사전을 사용하여 생성됩니다.
#목록 내포는 거리 및 워크로드 순열을 "거리 순열"에 대한 문자열 형식으로 결합하는 데 사용됩니다.


df = pd.DataFrame({'Distance Permutation': [f'{", ".join(perm[0])}, {", ".join(perm[1])}' for perm in permutations_data],
                   'Result': results})
df
# df.loc[df["Result"].idxmin()]

      Distance Permutation  Result
0   A, B, C, D, 1, 2, 3, 4   13600
1   A, B, C, D, 1, 2, 4, 3   11700
2   A, B, C, D, 1, 3, 2, 4   10300
3   A, B, C, D, 1, 3, 4, 2   10500
4   A, B, C, D, 1, 4, 2, 3   11500
5   A, B, C, D, 1, 4, 3, 2   13800
6   A, B, C, D, 2, 1, 3, 4   12700
7   A, B, C, D, 2, 1, 4, 3   11200
8   A, B, C, D, 2, 3, 1, 4   10900
9   A, B, C, D, 2, 3, 4, 1   10000
10  A, B, C, D, 2, 4, 1, 3   12100
11  A, B, C, D, 2, 4, 3, 1   12500
12  A, B, C, D, 3, 1, 2, 4   11100
13  A, B, C, D, 3, 1, 4, 2   11100
14  A, B, C, D, 3, 2, 1, 4   12600
15  A, B, C, D, 3, 2, 4, 1   11500
16  A, B, C, D, 3, 4, 1, 2   12800
17  A, B, C, D, 3, 4, 2, 1   11700
18  A, B, C, D, 4, 1, 2, 3   11000
19  A, B, C, D, 4, 1, 3, 2   12900
20  A, B, C, D, 4, 2, 1, 3   12100
21  A, B, C, D, 4, 2, 3, 1   12500
22  A, B, C, D, 4, 3, 1, 2   11300
23  A, B, C, D, 4, 3, 2, 1   10200